name: .NET Build and Push to GHCR

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CONTAINER_REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
  WORKING_DIR: dotnet-external-secrets-demo

permissions: 
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 9.0.x
    - name: Restore dependencies
      working-directory: ${{ env.WORKING_DIR }}
      run: dotnet restore
    - name: Build
      working-directory: ${{ env.WORKING_DIR }}
      run: dotnet build --no-restore
    - name: Test
      working-directory: ${{ env.WORKING_DIR }}
      run: dotnet test --no-build --verbosity normal
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Login to ghcr.io
      uses: docker/login-action@v3
      with:
        registry: ${{ env.CONTAINER_REGISTRY }}
        username: ${{ env.IMAGE_NAME }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Build and push
      id: docker_build
      uses: docker/build-push-action@v6
      with:
        context: ${{ env.WORKING_DIR }}
        platforms: linux/amd64,linux/arm64
        push: ${{ github.event_name == 'push' }}
        tags: ${{ env.CONTAINER_REGISTRY }}/${{ env.IMAGE_NAME }}:latest
    - name: Image digest
      run: echo ${{ steps.docker_build.outputs.digest }}